package ${package}.${moduleName}.controller;

import com.yunxin.psychology.api.CommonResult;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;


/**
 * ${comments}
 *
 * @author dzh
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${pathName}")
@Api(value = "${pathName}", tags = "${comments}管理")
public class ${className}Controller {

    @Resource
    private ${className}Service ${classname}Service;

    @ApiOperation(value = "分页查询")
    @PostMapping("/get-page")
    public CommonResult getPage(@RequestBody Query${className}Param param) {
        return CommonResult.success(${classname}Service.getPage(${pk.lowerAttrName}));
    }

    @ApiOperation(value = "list查询")
    @PostMapping(value = "/get-list")
    public CommonResult getList(@RequestBody Query${className}Param param) {
        return CommonResult.success(${classname}Service.getList(param));
    }

    @ApiOperation(value = "修改")
    @PostMapping(value = "/update")
    public CommonResult updateById(@RequestBody ${className} ${classname}) {
        return CommonResult.success(${classname}Service.updateOne(${classname}));
    }

    @ApiOperation(value = "修改")
    @PostMapping(value = "/update-base")
    public CommonResult updateById(@RequestBody ${className} ${classname}) {
        return CommonResult.success(${classname}Service.updateBase(${classname}));
    }

}
