package ${package}.${moduleName}.controller;

import io.swagger.annotations.Api;
import org.springframework.web.bind.annotation.*;

import javax.annotation.Resource;


/**
 * ${comments}
 *
 * @author dzh
 * @date ${datetime}
 */
@RestController
@RequestMapping("/${pathName}" )
@Api(value = "${pathName}", tags = "${comments}管理")
public class ${className}Controller {

    @Resource
    private ${className}Service ${classname}Service;

    @ApiOperation(value = "通过id查询", notes = "通过id查询")
    @GetMapping("/getbyid/{${pk.lowerAttrName}}")
    public R getById(@PathVariable("${pk.lowerAttrName}") ${pk.attrType} ${pk.lowerAttrName}) {
        return R.ok(${classname}Service.getById(${pk.lowerAttrName}));
    }

    @ApiOperation(value = "新增${comments}", notes = "新增${comments}")
    @PostMapping(value = "/save")
    public R save(@RequestBody ${className} ${classname}) {
        return R.ok(${classname}Service.save(${classname}));
    }

    @ApiOperation(value = "修改${comments}", notes = "修改${comments}")
    @PostMapping(value = "/update")
    public R updateById(@RequestBody ${className} ${classname}) {
        return R.ok(${classname}Service.updateById(${classname}));
    }

    @ApiOperation(value = "通过id删除${comments}", notes = "通过id删除${comments}")
    @PostMapping("/deletebyid/{${pk.lowerAttrName}}")
    public R removeById(@PathVariable("${pk.lowerAttrName}") ${pk.attrType} ${pk.lowerAttrName}) {
        return R.ok(${classname}Service.removeById(${pk.lowerAttrName}));
    }

}
