package ${package}.${moduleName}.mapper;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * ${comments}
 *
 * @author dzh
 * @date ${datetime}
 */
public interface ${className}Mapper extends BaseMapper<${className}> {

}
