package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;

import java.util.List;

/**
 * ${comments}
 *
 * @author dzh
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    IPage<${className}Vo> getPage(Query${className}Param param);

    List<${className}Vo> getList(Query${className}Param param);

    Object updateOne(${className} param);

    Object updateBase(${className} param);
}
