package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;

/**
 * ${comments}
 *
 * @author dzh
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

}
